
body {
    font-family: "Roboto","Helvetica Neue",Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    margin: 0px;
    color: #212529;
    text-align: left;
    background-color: #fff;

    display: block;
}
* {
    outline: none;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#container{
    height: 500px;
    /* background-color: aquamarine; */
}
#header1{
    height: 41px;
    background-color: #1d3b71;
}
#header2{
    height: 110px;
    background-color: whitesmoke;
}
#header3{
    height: 45px;
    background: #edeef3;
    box-shadow: 0 8px 6px -6px rgba(1, 38, 76, 0.55);
}
#nav-header-top{
    width: 1140px;
    height: 100%;
    margin: auto;
    background-color: #6bebd8;
}
#logo-header-mid{
    width: 1110px;
    background-color: rgb(198, 247, 185);
    height: 100%;
    margin: auto;
}
#banner{
    /* background-color: #f5f6fa; */
    background-color: #f5f6fa;
    border-bottom: 1px solid black;
}
#main-content1, #main-content2{
    height: 700px;
    /* margin: auto;
    padding: 0px 15px; */
    border-bottom: 1px solid black;
}
/* #main-content1{
    background-color: violet;
} */
#main-content2{
    background-color: #f5f6fa;
}
.container-content{
    width: 1140px;
    padding: 0px 15px;
    height: 100%;
    margin: auto;
}
.container-inside{
    width: 100%;
    height: 100%;
    background-color: rgb(198, 247, 185);
}
#main-content3{
    width: 100%;
    height: 523px;
    background-color: #1d3b71;
    border-bottom: 1px solid black;
}
#main-content4{
    height: 947px;
    background-color: #B0C4DE;
    border-bottom: 1px solid black;
}
#footer-info{
    height: 309px;
    background-color: #041634;
    border-bottom: 1px solid black;
}
#footer-designer{
    height: 40px;
    background-color: red;
}

/* Layout */


.poster {
    width: 1110px;
    margin: 0px auto 0px auto;
    padding: 15px 0px;
}

.mySlides {
    display: none;
    width: 100%;

}

img {
    vertical-align: middle;
    width: 100%;
    height: 300px;

}

/* Slideshow container */
.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.catalog {
    display: inline-flex;
    /* max-width: 3000px; */
    background: #0066B3;
    width: 100%;
}

.list-catalog {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-slide {
    text-align: center;
    background: #007bff;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    padding: 5px;
}

.logo-slide a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo-slide img {
    width: 50%;
    height: 50%;
    margin-bottom: px;
}

.logo-slide :hover {
    color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}