body {
    font-family: "Roboto", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    margin: 0px;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}
/*  Bai viet */
#main-container {

    width: 1110px;
    margin: 0px 185px;
    position: relative;
}

#main-content {
    display: inline-flex;
    /* background: #e0d385; */
    font-family: "Roboto", "Helvetica Neue", Helvetica;

}

#content1 {
    /* background: #b5dfc5; */
    width: 805px;
    /* height: 8116px; */
    display: block;
}

.chuLonXanh {
    font-size: 16pt;
    margin: 0px;
    line-height: 107%;
    color: #0070c0;
    font-weight: bolder;
    text-transform: uppercase;
}

.doanChuDen {
    text-align: justify;
    text-indent: .5in;
    line-height: 150%;
    font-size: 11pt;
    color: black;
    margin-bottom: 0in;
    font-weight: 400;
    outline: none;
    margin-bottom: 16px;

}

.chuLonDen {
    font-size: 16pt;
    margin: 0px;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12.0pt;
    line-height: 150%;
    color: black;
    text-align: justify;
}

#content2 {
    background: #ffffff;
    width: 305px;
    /* height: 500px; */
    display: block;
    right: 0px;
    position: absolute;
    padding-left: 20px;
}

.content2-content {

    top: 300px;
    width: 305px;
    height: 500px;
    background: #ffffff;
}

#container-np {
    background: rgba(240, 241, 245, 0.5);
    width: 100%;
    height: 45px;
    margin: 10px auto;
}

.container-np-1 {
    text-align: right;
    padding: 1px 0px;

}

.container-np-1 h3 {
    justify-content: center;
    font-size: 15px;
    margin-right: 15px;
    font-weight: 100;
    font-style: italic;
}

.content1-tieuDe h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

.content1-img img {
    width: 805px;
    vertical-align: middle;
    height: 100%;
    margin-bottom: 16px;
}

.chuDuoiAnh {
    text-align: center;
    font-size: 12pt;
    line-height: 107%;
    color: black;
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    margin-bottom: 16px;
}
.XemThem h4
{
    font-weight: bold;
    color:#0066cb ;
}
.XemThem 
{

    border-left: 1px solid #bdbdbd;
    padding-left: 20px;
    color: #0066cb;
}
.XemThem li{
    list-style-type: decimal;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: justify;
}
.XemThem li a{
    text-decoration:  none;
    color: #0066cb;

}
.content2-content1-tieuDe a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 23px;
    
    margin: 5px 0 15px;
    color: #0066cb
}
.content2-content1-tieuDe h3{
    border-bottom: 2px solid #b0b0b0;
}
.content2-content1-tieuDe a:hover{
   color: red;
}
.content2-content1-List ul li a
{
    color:  black;
}
.content2-content1-List li a{
    padding-left: 15px;
}
.content2-content1-List a
{
    text-decoration: none;
}
.content2-content1-List a:hover{
    color: red;
}
.content2-content1-List li
{
    text-align: justify;
    border-bottom: 2px solid #b0b0b0;
    margin-bottom: 16px;
}
.content2-content1-List ul 
{
    list-style: square; 
}
.date {
    display: flex;

}

.date span {
    font-size: 20px;
    color: rgb(49, 108, 236);
}

.date p {
    margin: 0px;
}
/* Bai viet */
* {
    outline: none;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

#container {
    height: 500px;
    /* background-color: aquamarine; */
}

#header1 {
    height: 41px;
    background-color: #1d3b71;
}

#header2 {
    height: 110px;
    background-color: whitesmoke;
}

#header3 {
    height: 45px;
    background: #edeef3;
    box-shadow: 0 8px 6px -6px rgba(1, 38, 76, 0.55);
}

#nav-header-top {
    width: 1140px;
    padding: 0px 15px;
    height: 100%;
    margin: auto;
}
.container-content {
    width: 1140px;
    padding: 0px 15px;
    height: 100%;
    margin: auto;
}

.container-inside {
    width: 100%;
    height: 100%;
    /* background-color: rgb(198, 247, 185); */
}
#footer-info {
    height: 309px;
    background-color: #041634;
    border-bottom: 1px solid black;
}

#footer-designer {
    height: 40px;
    background-color: red;
}
#logo-header-mid{
    width: 1110px;
    height: 100%;
    margin: auto;
}

#nav-header-top
{
    display: flex;
    position:relative ;
    margin: auto;
    justify-content: space-between;
}
#nav1-header1 ul , #nav2-header1 ul
{
    margin-top: 9px;
}
#nav1-header1
{
    margin-left: -30px;
    display: flex;
    align-items: center;
    position: relative;
}
#nav1-header1 ul li
{
    border-right: 1px white solid;
}
#nav1-header1 ul li:last-child
{
    border-right: none;
}
#nav1-header1 ul li, #nav2-header1 ul li
{
    display: inline-block;
    padding-right: 5px;
}
#nav1-header1 ul li a , #nav2-header1 ul li a
{
    color: aliceblue;
    font-size: 12px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav1-header1 ul li a:hover , #nav2-header1 ul li a:hover
{
    color: yellow;
}
#logo-header-mid
{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}
#logo1-header2 img
{
    max-height: 80px;
    max-width: 100%;
}
#logo-school-name
{
    text-align: center;
    margin-bottom: 5px;
}
#logo-school-name .title1
{
    margin-bottom: 10px;
    color: #0066b3;
    font-size: 18px;
}
#logo-school-name .title2
{
    margin-bottom: 5px;
    color: #fe0000;
    font-size: 25px;
}
#header3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header3-menu
{
    margin-left: 155px;
    display: flex;
    align-items: center;
    position: relative;
}
#header3-seach
{
    margin-right: 155px;
    display: flex;
}
#header3-menu ul li
{
    display: inline-block;
    border-right: 1px black solid;
    position: relative;
    margin: auto;
}
#header3-menu ul li a
{
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#header3-menu ul li:first-child
{
    border-right: none;
}
#header3-menu ul li:last-child
{
    border-right: none;
}
#header3-menu a:first-of-type
{
    border-left: none;
}
#header3-menu a:hover
{
    color: blue;
}
#header3-menu img
{
    width: 20px;
    height: 20px;
}
#header3-seach img
{
    width: 40px;
    height: 30px;
}
#header3-seach input
{
    padding: 5px 15px;
}

.location_con
{
    display: flex;
    justify-content: space-around;
}
.location_con dt i {
    width: 25px;
    margin-left: 5px;
}
div.location_con .com_info dl dt {
    float: left;
    font-weight: normal;
    text-align: left;
    width: 120px;
    margin: 10px 20px 0 2px;
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
}
div.location_con .com_info dl {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    color: #fff;
    margin: 5px;
}
div.location_con .com_info dl dd{
    margin-top: 9px;
}
.fa{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.com_info{
    margin: 15px;
}
.mt-40
{
    display: flex;
}
.mt-40 a i img
{
    height: 45px;
    background-color: white;
    border-radius: 50%;
}
.map iframe
{
    width: 490px;
    height: 265px;
    margin-top: 25px;
}
.location_con .com_info .la-mb .fa img
{
    width: 20px;
    height: 20px;
}
.footer-about{
    margin-top: 30px;
    margin-left: 70px;
}
.footer-about ul li
{
    display: inline-block;
    margin-left: 20px;
}
.footer-about ul li a {
    width: 47px;
    height: 47px;
    display: inline-block;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.footer-about ul li a.facebook {
    background-image: url('../hinh-anh/Nav/ft_1_facbook.png');
}
.footer-about ul li a.zalo {
    background-image: url('../hinh-anh/Nav/ft_1_zalo.png');
}
.footer-about ul li a.tiktok {
    background-image: url('../hinh-anh/Nav/ft_1_tiktok.png');
}
.footer-about ul li a.youtube {
    background-image: url('../hinh-anh/Nav/ft_1_youtube.png');
}
.footer-about ul li a.instagram {
    background-image: url('../hinh-anh/Nav/ft_1_instagram.png');
}
.footer-copyright .copyright p {
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    margin-top: 12px;
}
.footer-copyright .row
{
    display: flex;
}
.col-md-8 .copyright p
{
    margin-left: 70px;
}
.col-md-4 .copyright p
{
    margin-left: 810px;
    font-size: 9px;
}
/* start menu da cap*/
#header3-menu ul li
{
    float: left;
}
#header3-menu ul li#dropdown
{
    display: inline-block;
}
#drop #dropdown-content a
{
    color:white;
    padding: 5px 16px;
    display: block;
}
#dropdown-content
{
    display: none;
}
#header3-menu ul li:hover #dropdown-content
{
    display: block;
    position: absolute;
    background-color:#1D3B71;
    margin-top: 3px;
    z-index: 1;
}
#header3-menu ul li:hover #dropdown-content ul
{
    display: block;
    margin: 0px;
    padding: 0px;
}
#header3-menu ul li:hover #dropdown-content ul li
{
    width: 220px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#header3-menu ul li:hover #dropdown-content ul li:last-child
{
    border-bottom: none;
}
#header3-menu ul li:hover #dropdown-content ul li:hover
{
    background-color: white;
}
#header3-menu ul li:hover #dropdown-content ul li a:hover
{
    color: black;
}
#dropdown-content-2
{
    display: none;
}
#drop-hover:hover #dropdown-content-2
{
    display: block;
    position: absolute;
    background-color:#1D3B71;
    margin-left: 220px;
    margin-top: -35px;
}
/* end menu da cap*/