body {
    font-family: "Roboto", "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    margin: 0px;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}

* {
    outline: none;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

#container {
    height: 500px;
    /* background-color: aquamarine; */
}

#header1 {
    height: 41px;
    background-color: #1d3b71;
}

#header2 {
    height: 110px;
    background-color: whitesmoke;
}

#header3 {
    height: 45px;
    background: #edeef3;
    box-shadow: 0 8px 6px -6px rgba(1, 38, 76, 0.55);
}

#nav-header-top {
    width: 1140px;
    padding: 0px 15px;
    height: 100%;
    margin: auto;
}

#logo-header-mid {
    width: 1110px;
    height: 100%;
    margin: auto;
}

#banner {
    /* background-color: #f5f6fa; */
    background-color: #f5f6fa;
    border-bottom: 1px solid black;
}

#main-content1,
#main-content2 {
    height: 700px;
    /* margin: auto;
    padding: 0px 15px; */
    border-bottom: 1px solid black;
}

/* #main-content1{
    background-color: violet;
} */
#main-content2 {
    background-color: #f5f6fa;
}

.container-content {
    width: 1140px;
    padding: 0px 15px;
    height: 100%;
    margin: auto;
}

.container-inside {
    width: 100%;
    height: 100%;
    /* background-color: rgb(198, 247, 185); */
}

#main-content3 {
    width: 100%;
    height: 523px;
    background-color: #1d3b71;
    border-bottom: 1px solid black;
}

#main-content4 {
    background-color: #B0C4DE;
    border-bottom: 1px solid black;
}

#footer-info {
    height: 309px;
    background-color: #041634;
    border-bottom: 1px solid black;
}

#footer-designer {
    height: 40px;
    background-color: red;
}

/* Layout */


.poster {
    width: 1140px;
    margin: auto;
    padding: 15px 15px;
}

.mySlides 
{
    display: none;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    height: 300px;
} 

/* Slideshow container */
.slideshow-container {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.catalog {
    display: inline-flex;
    /* max-width: 3000px; */
    background: #0066B3;
    width: 100%;
}

.list-catalog {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo-slide {
    text-align: center;
    background: #007bff;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    padding: 5px;
}

.logo-slide a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo-slide img {
    width: 50%;
    height: 50%;
    margin-bottom: px;
}

.logo-slide :hover {
    color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.container-inside-main-content3 {
    display: inline-flex;
    margin: 20px auto 20px auto;
}

.container-main-content3 {
    position: relative;
}

.img-main-content3 {
    opacity: 1;
    display: block;
    width: 350px;
    height: 235px;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 10px;
}

.middle-main-content3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-main-content3:hover .img-main-content3 {
    opacity: 0.3;
}

.container-main-content3:hover .middle-main-content3 {
    opacity: 1;
}

.text-main-content3 {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.doiTac-main-content3
{
    display: inline-flex;
    padding: 20px;
}

.img-doiTac-main-content3 img 
{
    width: 90px;
    height: 90px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
}

.img-doiTac-main-content3 :hover
{
   opacity: 0.3;
}
.doiTac-container-main-content3
{
    text-align: center;
    border-style: outset;
    color: white;
}
.doiTac-text-container-main-content3
{
    color: white;
    z-index: 2;
    font-size: 20px;
}
/* main-content1 */
#tinTucHoatDong-thongBao{
    display: flex;
    width: 100%;
    background-color: white;
    margin: auto;
}
.tinThucHoatDong{
    width: 70%;
    padding-right: 10px;
}
.thongBao{
    width: 30%;
    padding: 0px 8px;
}
.item{
    width: 200px;
    background-color: orangered;
    border: 1px solid black;
}
.item2{
    width: 200px;
    background-color: greenyellow;
    border: 1px solid black;
}
.list-thongBao{
    margin: 0px;
    padding: 0px;
}
.list-thongBao li{
    list-style-type: none;
    border-top: 1px solid black;
    height: 100px;
}
.list-thongBao li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.list-thongBao li p{
    margin: 10px 0px 15px 0px;
    color: #86877F;
}
.list-thongBao li p::before{
    content: "\f133";
    margin: 10px 0px 15px 0px;
}
/* tin tuc hoat dong */
.tinTuc{
    display: flex;
}
.col1-tinTuc{
    width: 50%;
    padding: 10px 15px 0px 15px;
    padding-right: 15px;
    text-align: justify;
}
.col1-tinTuc p{
    margin: 0px;
    color: #86877F;
    font-size: 14.5px;
}
.col1-tinTuc #date::before{
    content: "\f133";
    margin: 10px 0px 15px 0px;
}
.col2-tinTuc{
    width: 50%;
    height: 100%;
}
.list-tinTuc1{
    display: flex;
    height: 90px;
}
.row1{
    width: 30%;
    padding: 0px 4px;
}
.row2{
    width: 70%;
    padding: 0px 4px;
}
.row2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.row2 p{
    margin: 0px;
    color: #86877F;
}
.row2 p::before{
    content: "\f133";
    margin: 10px 0px 15px 0px;
}
.tinThucHoatDong h4{
    border-bottom: 2px solid #b0b0b0;
    text-transform: uppercase;
    color:#0066CB;
}
.thongBao h4{
    border-bottom: 2px solid #b0b0b0;
    text-transform: uppercase;
    color:#0066CB;
}
.list-thongBao li:first-child{
    border-top: none;
}
/* end content1 */
/* main content 4 */
.container-inside-maincontent4 {
    width: 100%;
    /* height: 100%; */
    background-color: white;
    padding: 1px 10px 10px 10px;
}
#main-content4 {
    /* height: 947px; */
    background-color: #B0C4DE;
    border-bottom: 1px solid black;
}
#content1{
    display: flex;
}
#col1-maincontent4{
    width: 75%;
    /* background-color: #82b3ac; */
    margin: 0px;
    /* height: 500px; */
    display: flex;
}
#col2-maincontent4{
    width: 25%;
    /* background-color: #1f67b0; */
    margin: 0px;
    /* height: 300px; */
}
#content2{
    /* height: 300px; */
    /* background-color: rgb(40, 60, 122); */
}
#col1{
    width: 60%;
    /* background-color: rgb(226, 172, 134); */
}
#col2{
    width: 40%;
    /* background-color: rgb(195, 195, 158); */
    padding: 0px 8px 8px 8px;
    /* height: 300px; */
}
#title-col1 h3{
    margin: 0px;
    font-size: 15px;
}
#list-news{
    height: 390px;
    overflow-x: hidden;
    padding: 0px;
}
#list-news li{
    height: 80px;
    border-bottom: 1px dashed rgb(12, 0, 0);
    list-style-type: none;
    /* background-color: red; */
    /* padding: 5px; */
}
#list-news li:first-child{
    height: 110px;
}
.link-col2{
    padding: 5px;
}
#endline{
    clear: both;
}
.link-col2 img{
    display: block;
    width: 82px;
    height: 55px;
    margin-top: 2px;
    margin-right: 10px;
    float: left;
}
.link-col2 p{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}
.container-inside-maincontent4 h3{
    font-size: 16px;
}
#list-ul-content2{
    display: flex;
    list-style-type: none;
    padding: 0px;
}
#list-ul-content2 li{
    width: 25%;
}
.list-content2{
    padding: 4px;
    justify-content: center;
}
.list-content2>div>img{
    /* margin-left: 65px; */
    /* căng giữa tạm thời */
}
.list-content2 p{
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.container-inside-maincontent4>h3{
    border-bottom: 2px solid #b0b0b0;
    padding: 0px 0px 5px 0px;
    color: #166db5;
}
/* end main content 4 */

/* start header thanh tim kiem */
#nav-header-top
{
    display: flex;
    position:relative ;
    margin: auto;
    justify-content: space-between;
}
#nav1-header1 ul , #nav2-header1 ul
{
    margin-top: 9px;
}
#nav1-header1 ul li
{
    border-right: 1px white solid;
}
#nav1-header1 ul li:last-child
{
    border-right: none;
}
#nav1-header1 ul li, #nav2-header1 ul li
{
    display: inline-block;
    padding-right: 5px;
}
#nav1-header1 ul li a , #nav2-header1 ul li a
{
    color: aliceblue;
    font-size: 12px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav1-header1 ul li a:hover , #nav2-header1 ul li a:hover
{
    color: yellow;
}
#logo-header-mid
{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}
#logo1-header2 img
{
    max-height: 80px;
    max-width: 100%;
}
#logo-school-name
{
    text-align: center;
    margin-bottom: 5px;
}
#logo-school-name .title1
{
    margin-bottom: 10px;
    color: #0066b3;
    font-size: 18px;
}
#logo-school-name .title2
{
    margin-bottom: 5px;
    color: #fe0000;
    font-size: 25px;
}
#header3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header3-menu
{
    margin-left: 135px;
    display: flex;
    align-items: center;
    position: relative;
}
#header3-seach
{
    margin-right: 175px;
    display: flex;
}
#header3-menu ul li
{
    display: inline-block;
    border-right: 1px black solid;
    position: relative;
    margin: auto;
}
#header3-menu ul li a
{
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#header3-menu ul li:first-child
{
    border-right: none;
}
#header3-menu ul li:last-child
{
    border-right: none;
}
#header3-menu a:first-of-type
{
    border-left: none;
}
#header3-menu a:hover
{
    color: blue;
}
#header3-menu img
{
    width: 20px;
    height: 20px;
}
#header3-seach img
{
    width: 40px;
    height: 30px;
}
#header3-seach input
{
    padding: 5px 15px;
}
/* end header thanh tim kiem */

/* start container2 */
#main-content2 .container-content .container-inside
{
    display: flex;
    justify-content: space-between;
}
.news-part-wrap
{
    width: 735px;
    height: 455px;
}
.widget
{
    width: 360px;
}
.news-part
{
    display: flex;
}
.home-title a, .home-title
{
    color: #0066cb;
    font-size: 16px;
}
.ulOrderNews
{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    margin-left: 250px;
}
.wrap-bg ul
{
    list-style-type: none;
}
.wrap-bg ul li
{
    border-right: 1px black solid;
}
.wrap-bg ul li:last-child
{
    border: none;
}
.ulOrderNews li a
{
    color: #555;
    font-size: 14px;
    text-decoration: none;
    margin: 5px;
}
.ulOrderNews li a:hover
{
    color: red;
}
.single-news
{
    display: flex;
}
.single-news .news-cont
{
    margin-left: 10px;
}
.news-calendar
{
    font-size: 14px;
}
.news-thum img
{
    width: 140px;
    height: 80px;
}
.news-cont a h3 {
    font-size: 14px;
    color: #555;
    line-height: 22px;
    font-weight: bold;
    padding: 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    margin: 0px;
}
.news-cont p
{
    font-size: 14px;

}
.news-cont a h3:hover
{
    color:#007bff
}
.view-more
{
    margin-top: 20px ;
    margin-left: 640px;
    color: red;
    font-size: 14px;
}
.wrap-bg-1 .slide-item a img
{
    width: 345px;
    height: 80px;
    margin: 5px;
}
.home-title a{
    text-decoration: none;
}
/* end container2 */

/* start footer */
.location_con
{
    display: flex;
    justify-content: space-around;
}
.location_con dt i {
    width: 25px;
    margin-left: 5px;
}
div.location_con .com_info dl dt {
    float: left;
    font-weight: normal;
    text-align: left;
    width: 120px;
    margin: 10px 20px 0 2px;
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
}
div.location_con .com_info dl {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    font-size: 16px;
    margin: 0;
    color: #fff;
    margin: 5px;
}
div.location_con .com_info dl dd{
    margin-top: 9px;
}
.fa{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.com_info{
    margin: 15px;
}
.mt-40
{
    display: flex;
}
.mt-40 a i img
{
    height: 45px;
    background-color: white;
    border-radius: 50%;
}
.map iframe
{
    width: 490px;
    height: 265px;
    margin-top: 25px;
}
.location_con .com_info .la-mb .fa img
{
    width: 20px;
    height: 20px;
}
.footer-about{
    margin-top: 30px;
    margin-left: 70px;
}
.footer-about ul li
{
    display: inline-block;
    margin-left: 20px;
}
.footer-about ul li a {
    width: 47px;
    height: 47px;
    display: inline-block;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.footer-about ul li a.facebook {
    background-image: url('../hinh-anh/Nav/ft_1_facbook.png');
}
.footer-about ul li a.zalo {
    background-image: url('../hinh-anh/Nav/ft_1_zalo.png');
}
.footer-about ul li a.tiktok {
    background-image: url('../hinh-anh/Nav/ft_1_tiktok.png');
}
.footer-about ul li a.youtube {
    background-image: url('../hinh-anh/Nav/ft_1_youtube.png');
}
.footer-about ul li a.instagram {
    background-image: url('../hinh-anh/Nav/ft_1_instagram.png');
}
.footer-copyright .copyright p {
    color: #fff;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    margin-top: 12px;
}
.footer-copyright .row
{
    display: flex;
}
.col-md-8 .copyright p
{
    margin-left: 70px;
}
.col-md-4 .copyright p
{
    margin-left: 810px;
}
/* end footer */